# Django / Python
__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3
media/
static_root/

# Database Dumps (Твої JSON дампи бази)
db_data.json
db_data_fixed.json
db_data_final.json
*.json

# VS Code / IDE
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini

# Railway / Environments
.railway/
venv/
env/
